@use './util/' as u;

body {
    background-image: url('/images/London1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-attachment: fixed;

    
}



.left-info {
    display: inline-block;
    font-family: u.$font;
    margin-left: u.em(55);
    width: u.em(500);
    

   

    div.IMN {
            
        


        h1.IMN-header {
            color: white;
            font-family: u.$font;
            font-weight: 500;
            margin-top: u.em(30);
            width: u.em(300);
            margin-bottom: u.em(180);
        
          
            
                img.imn-icon {
                    margin-left: u.em(600);
                    cursor: pointer;
                    block-size: fit-content;
                    
                   
                }
        
        }
    
    }

    #dashed-line {
        opacity: 0.7;
        height: u.em(50);
    }


    .location-info {
        color: white;
    }

    #dashed-line {
       width: u.em(60);
    }
    
    #current-temp {
        font-size: u.em(120);
        margin-bottom: 0;
        
    }

    .current-city {
        font-size: u.em(80);
        margin-top: 0;
        margin-bottom: 0;
        margin-top: u.em(-2);
    }
    .country {
        margin-bottom: u.em(100);
        margin-top: u.em(-3);
        opacity: 0.8;
    }

    #date-time {
        margin-top: 0;
        opacity: 0.6;
        font-weight: 100;
        font-size: u.em(15);
        margin-bottom: 0;
        position: absolute;
        
    }

    .first-data-temp {
        display: inline-block;
    }
}





div.weather-info {
    font-family: u.$font;
    background-color: black;
    height: u.em(900);
    width: u.em(550);
    float: right;
    background: rgba(0, 0, 0, 0.6);


    .week-forecast-header {

        margin-left: u.em(35);
        margin-bottom: u.em(60);
        color: white;


            .weather-title {
                color: white;
                font-weight: 300;
                margin-bottom: 0;
                font-size: u.em(20);
                margin-top: u.em(45);
            }

        #mini-date {
            color: white;
            opacity: 0.6;
            font-weight: 100;
            margin-bottom: u.em(20);
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 0;
        color: white;
        border-bottom-style: solid;
        border-bottom-width: u.em(1);
        border-bottom-color: hsla(0, 0%, 100%, 0.639);
        
        
        p {
            margin-left: u.em(35);
            opacity: 0.7;
            font-weight: 100;
            margin-right: u.em(70);
            margin-bottom: u.em(10);
            font-size: u.em(14);
            cursor: pointer;
            
            
        }

        .wind {
            margin-right: u.em(80);
        }
       
        #temp-btn{
            border-bottom-style: solid;
            padding-bottom: u.em(10);
            margin-bottom: u.em(-2);
            border-radius: u.em(1);
            
            
        }
    }
   
 



    .graph {
        padding-bottom: u.em(30);
        border-bottom-style: solid;
        border-bottom-width: u.em(2);
        border-bottom-color: hsla(0, 0%, 100%, 0.412);
        padding-left: u.em(20);


        .burger-icon {
            padding-left: u.em(115);
            cursor: pointer;
        
        }

    
        
        .city-name, h1 {
            color: white;
            margin-top: u.em(20);
            margin-bottom: 0;
            font-size: u.em(50);
            font-weight: 400;
        }

        .current-temp {
            color: white;
            margin-top: 0;
            opacity: 0.7;
            font-weight: 100;
            font-size: u.em(20);
            
        }
    }



    .seven-forecast {
        
        font-family: u.$font;
        

        p#day-temp {
            font-size: u.em(11);
        }

        


            #day {
                width: u.em(50);
                height: u.em(130);
                margin-bottom: u.em(20);
            }


        ul {

            display: flex;
            justify-content: space-between;
            margin-top: u.em(60);
            padding-right: u.em(30);
            padding-left: u.em(30);
            margin-bottom: u.em(28);
            

            li {

                color: white;
                opacity: 0.7;
                list-style: none;
                font-weight: 100;
                text-align: center;
                justify-content: center;
               

            }

            p {
                font-weight: 500;
               
            }


        }



    .arrow-buttons {
        margin-right: 0;
       
    
        p.p-east {
          
            margin-left: u.em(30);
        }

        p.p-north {
            margin-left: u.em(60);
            margin-right: u.em(20);

        }
        
        p {
            margin: 0;
            width: u.em(120);
            text-align: center;
            align-content: center;
            display: inline-block;
            opacity: 0.8;
            font-weight: 100;
        }
        
       
        img.right-arrow, img.left-arrow {
          
            vertical-align: middle
        
        }

        button.nz, button.nl  {
           
           border: none;
           color: white;
           height: u.em(81);
           padding: 0;
           cursor: pointer;

           
           
        }

        button.nz {
            width: u.em(250);
            background-color: rgba(0, 0, 0, 0.705);
           
        }
        button.nl {
            
            background-color: rgba(52, 50, 50, 0.758);
            width: u.em(410);
            
        
        }
    }

}



    }

@media only screen and (max-width: 800px) { 
    .left-info { 
      display: none; 
    } 
  }

  @media screen and (min-width: 0px) and (max-width: 600) {
    .weather-info { display: block; }  
  }

 
