body {
  background-image: url("/images/London1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin: 0;
}

.left-info {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-left: 3.4375em;
  width: 37.5em;
}
.left-info .IMN {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 1.875em;
  width: 3.125em;
  margin-bottom: 9.375em;
}
.left-info .location-info {
  color: white;
}
.left-info #current-temp {
  font-size: 9.375em;
  margin-bottom: 0;
}
.left-info .current-city {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: -0.125em;
}
.left-info .country {
  margin-bottom: 4.375em;
  margin-top: -0.1875em;
  opacity: 0.8;
}
.left-info #date-time {
  margin-top: 0;
  opacity: 0.6;
  font-weight: 100;
  font-size: 0.9375em;
}
.left-info .first-data-temp {
  display: flex;
}
.left-info .first-data-temp img.celc {
  height: 3.125em;
  width: 3.125em;
  margin-top: 6.25em;
}

div.weather-info {
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100vh;
  width: 34.375em;
  float: right;
  background: rgba(0, 0, 0, 0.6);
}
div.weather-info .week-forecast-header {
  margin-left: 2.1875em;
  margin-bottom: 3.4375em;
  color: white;
}
div.weather-info .week-forecast-header .weather-title {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1.25em;
  margin-top: 2.8125em;
}
div.weather-info .week-forecast-header #mini-date {
  color: white;
  opacity: 0.6;
  font-weight: 100;
  margin-bottom: 1.25em;
}
div.weather-info .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  border-bottom-color: hsla(0deg, 0%, 100%, 0.64);
}
div.weather-info .buttons p {
  margin-left: 2.1875em;
  opacity: 0.7;
  font-weight: 100;
  margin-right: 4.375em;
  margin-bottom: 0.625em;
  font-size: 0.875em;
}
div.weather-info .buttons .wind {
  margin-right: 5em;
}
div.weather-info .graph {
  padding-bottom: 1.875em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  border-bottom-color: hsla(0deg, 0%, 100%, 0.64);
  padding-left: 1.25em;
}
div.weather-info .graph .burger-icon {
  padding-left: 6.5625em;
}
div.weather-info .graph .city-name, div.weather-info .graph h1 {
  color: white;
  margin-top: 1.25em;
  margin-bottom: 0;
  font-size: 3.125em;
}
div.weather-info .graph .current-temp {
  color: white;
  margin-top: 0;
  opacity: 0.7;
  font-weight: 100;
  font-size: 1.25em;
}
div.weather-info .seven-forecast p#day-temp {
  font-size: 0.625em;
}
div.weather-info .seven-forecast #img {
  width: 3.125em;
  height: 3.125em;
}
div.weather-info .seven-forecast #day {
  width: 3.125em;
  height: 8.125em;
  margin-bottom: 1.25em;
}
div.weather-info .seven-forecast ul {
  display: flex;
  justify-content: space-between;
  margin-top: 3.875em;
  padding-right: 1.875em;
  padding-left: 1.875em;
  margin-bottom: 3.75em;
}
div.weather-info .seven-forecast ul li {
  color: white;
  opacity: 0.7;
  list-style: none;
  font-weight: 100;
  text-align: center;
  justify-content: center;
}
div.weather-info .arrow-buttons {
  margin-right: 0;
}
div.weather-info .arrow-buttons .r-arrow {
  width: 1.25em;
  height: 1.25em;
}
div.weather-info .arrow-buttons button.nz, div.weather-info .arrow-buttons button.nl {
  border: none;
  color: white;
  height: 4.0625em;
  padding: 0;
}
div.weather-info .arrow-buttons button.nz {
  width: 15.625em;
  background-color: rgba(0, 0, 0, 0.6);
}
div.weather-info .arrow-buttons button.nl {
  background-color: rgba(152, 152, 152, 0.335);
  width: 25.625em;
}

@media only screen and (max-width: 800px) {
  .left-info {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 600) {
  .weather-info {
    display: block;
  }
}
@media screen and (min-height: 0px) and (max-height: 600) {
  .weather-info {
    display: block;
  }
}
